body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.profile-info, .settings {
    margin-bottom: 20px;
}
.profile-info label, .settings label {
    font-weight: bold;
}
.settings ul {
    list-style-type: none;
    padding: 0;
}
.settings li {
    margin: 10px 0;
}
.settings input[type="checkbox"] {
    margin-right: 10px;
}
.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:rgb(3, 148, 51);
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}