{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recompor</title>
    <link rel = "stylesheet" href = "{% static 'css/materiais.css'%}">
    <script src="https://kit.fontawesome.com/538f3725d2.js" crossorigin="anonymous"></script>

</head>


<body>
    <header>
        {% include 'navbar.html' %}
        <!--<li><a href="https://youtu.be/zKGywhHQocM?si=MwBKdT7Jnkl2Lbyo" target="_blank">Saiba mais</a></li>-->
    </header>
    <div id="materiaisPag">
        <div class="alinhacentro">
        <h1 id = "minititle2">Materiais</h1>
        <div id = "organizatipo">
            <div id = "tipo"> 
                <p class = "ppp">Tipo</P>
                <p class = "escolha">
                    <div class = 'space'>  
                        <a class = 'aaa' href="{% url 'paginas:matCaixa' %}"><button class = "escolha-btn" style="background-color: #7F9838;"></button></a><p class = "lado">Caixa</p>
                    </div>
                    <div class = space> 
                        <a class = 'aaa' href = "{% url 'paginas:matTerra' %}"><button class = "escolha-btn" ></button></a><p class = "lado">Terra</p>
                    </div>
                </p>
            </div> <!--Tipo-->

            <div id = "escala"> 
                <p class = "ppp">Escala</P>
                <p class = "escolha">
                    <div class = space> 
                        <button class = "escolha-btn"></button><p class = "lado">Pequena</p>
                    </div>
                    <div class = space> 
                        <button class = "escolha-btn"></button><p class = "lado">Média</p>
                    </div>
                    <div class = space> 
                        <button class = "escolha-btn"></button><p class = "lado">Grande</p>
                    </div>
                </p>
        </div> <!--Escala-->
        </div> <!--OrganizaTipo-->
        </div> <!--Alinha centro-->

    <div class = 'slide' id="materiais-necessariosCaixa">
        <div class="imagens-alinhadas">
            <img class = "imagensAjeitadas" src="{% static 'img/novPa.png' %}">
            <section>
                <p class="minititulo">Pá pequena</p>
                <p class="texto" >Pá pequena de plástico ou metal.</p>
            </section>
        </div> <!--Alinha imagens-->

        <div class="imagens-alinhadas">
            <img class = "imagensAjeitadas" src="{% static 'img/folha_canva.png' %}">
            <section>
                <p class="minititulo" >Folhas secas</p>
                <p class="texto">Folhas secas ou serragem, aproximadamente 500g.</p>
            </section>
        </div><!--Alinha imagens-->

        <div class="imagens-alinhadas">
            <img class = "imagensAjeitadas" src="{% static 'img/terra_canva.png' %}">
            <section>
                <p class="minititulo" >Terra</p>
                <p class="texto">Um pouco de terra preta, aproximadamente 200g.</p>
            </section>
        </div><!--Alinha imagens-->

        <div class="imagens-alinhadas" >
            <img class = "imagensAjeitadas" src="{% static 'img/residuo.png' %}">
            <section>
                <p class="minititulo">Resíduos orgânicos</p>
                <p class="texto">Pó de café, casca de alimentos e frutas.</p>
            </section>
        </div><!--Alinha imagens-->

        <div class="imagens-alinhadas">
            <img class = "imagensAjeitadas" src= "{% static 'img/caixa_canva.png' %}">
            <section>
                <p class="minititulo" style="margin-top: 5%;">Três caixas (baldes) plásticas</p>
                <p class="texto">Sendo do mesmo modelo, fechadas e com 1 tampa.</p>
            </section>
        </div><!--Alinha imagens-->

        <div class="imagens-alinhadas">
            <img class = "imagensAjeitadas" src="{% static 'img/furadeira_canva.png' %}">

            <section>
                <p class="minititulo">Furadeira</p>
                <p class="texto" >Para fazer os furos no fundo<br> das caixas.</p>
            </section>
        </div> <!--Alinha imagens-->
    </div> <!--materiais necessários caixa-->


    <div id = "fim">  
        <img id="dica" src="{% static 'img/dica.png' %}">
        <section>
            <p id= "text-dica">Se não tiver a pá pode fazer uma usando a embalagem de amaciante ou água sanitária com alça.<a href = "https://youtu.be/zKGywhHQocM?si=MwBKdT7Jnkl2Lbyo" class="linkSaiba" target="_blank">Saiba mais.</a></p>
        </section>
        <a  class = "aaa" href ="{% url 'paginas:tutCaixa' %}"><button id = "tudo-pronto">Tutorial<img id = "seta-tutorial" src=" {% static 'img/seta-tutorial.png' %}"></button></a>
    </div> 
    </div><!--Materiaispag-->

    <!--<script>
        document.querySelector('.linkSaiba').addEventListener('click', function(event) {
            event.preventDefault();
            window.open(this.href, '_blank');
        });
    </script>-->
    <script src="{% static 'js/navegacao.js'%}"></script>

</body>