{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recompor</title>
    <link rel = "stylesheet" href = "{% static 'css/resetsenha.css' %}">
	<script src="https://kit.fontawesome.com/538f3725d2.js" crossorigin="anonymous"></script>
</head>

</head>
<body id="arvores">
    {% block content %}
    <img src="{% static 'img/logo.png' %}">
    <h1 class="title">Redefinir Senha</h1> 
    <div class="reset-container">
        {% if validlink %}
        <p>Entre com sua nova senha para resetar.</p>
        <form action="" method="post" onsubmit="return verificarSenha();">
            {% csrf_token %}

            <div class="form-group">
                <label class="form-label" for="id_new_password1">Nova Senha:</label>
                
                <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
            </div>
            <div id="resultado" class="message"></div>
            <br>
            <div class="form-group">
                
                <label class="form-label" for="id_new_password2">Confirmação de senha:</label>
                <br>
                <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
            </div>
            <br>
            <button type="submit" class="button">Alterar Senha</button>
            
        </form>
        {% else %}
        <h1>Falha na redefinição de senha</h1>
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
        {% endif %}
    </div>
    {% endblock %}

    <script>
        function verificarSenha() {
            const novaSenha = document.getElementById('id_new_password1').value;
            const confirmacaoSenha = document.getElementById('id_new_password2').value;
            const resultado = document.getElementById('resultado');

            // Verifica se a senha é inteiramente numérica
            
            if (!/[!@#$%^&*(),.?":{}|<>]/.test(novaSenha)) {
                resultado.textContent = " A senha não pode ser inteiramente numerica, tem que ter pelo menos um caractere especial (por exemplo: !@#$%^&*)." ;
                resultado.className = "message error";
                return false;
            }

            // Verifica se a senha tem menos de 8 caracteres
            if (novaSenha.length < 8) {
                resultado.textContent = " Senha deve ter pelo menos 8 caracteres.";
                resultado.className = "message error";
                return false;
            }

            // Verifica se a senha é muito simples
            const senhasSimples = [
                "12345678", "123456789", "password", "senha", "qwerty", "abc123",
                "123123", "11111111", "22222222", "33333333", "44444444", "55555555",
                "66666666", "77777777", "88888888", "99999999"
            ];
            if (senhasSimples.includes(novaSenha)) {
                resultado.textContent = " Senha é muito simples.";
                resultado.className = "message error";
                return false;
            }

            // Verifica se a nova senha é igual à confirmação de senha
            if (novaSenha !== confirmacaoSenha) {
                resultado.textContent = " As senhas não coincide.";
                resultado.className = "message error";
                return false;
            }

            resultado.textContent = " Senha válida.";
            resultado.className = "message success";
            return true;
        }
    </script>

    <!--integração do VLibras-->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>



